*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/build
/captures
.externalNativeBuild
.idea/assetWizardSettings.xml
.idea/caches/
.idea/codeStyles/
.idea/dictionaries/
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
gradle/
ipay-sdk/build/*
ipay-sdk/libs/
docs/Gemfile.lock
docs/*.gem
.DS_Store
