<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bd.com.ipay">

    <application>
        <activity
            android:name=".sdk.activity.IPayCheckoutActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/ipay_callback_url_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".sdk.activity.IPayWebCheckoutActivity"
            android:label="@string/ipay_checkout"
            />
        <provider
            android:name=".sdk.provider.IPaySDKInitProvider"
            android:authorities="${applicationId}.IPaySDKInitProvider"
            android:exported="false" />
    </application>
</manifest>
